
/**=======================================================**
                    PRODUCTS-SECTION START
**=======================================================**/

.products {
    .product-1 {
        background: $bannerBg;
    }

    .product-2 {
        background: $bannerBg-2;
    }
    
    .product-3 {
        background: $bannerBg-3;
    }
}

/**=======================================================**
                    PRODUCTS-SECTION END
**=======================================================**/