/**=======================================================**
                    SERVICE BANNER START
**=======================================================**/

.servicebanner {
  background: $white;
  padding: size(40) size(0);

  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  &-details {
    @include flex-column;
    gap: size(44);
    padding-bottom: size(16);

    @include breakpoint(tab992) {
      padding-bottom: 0;
    }

    .details {
      position: relative;
      @include flex-column;
      gap: size(4);

      .quotes {
        @include flex-center-vert;
        gap: size(16);

        .quote {
          @include square(length(80));
          @include flex-center;
          overflow: hidden;
  
          svg {
            @include wh100;
          }
        }
      }

      .info {
        @include flex-column;
        gap: size(24);

        .title {
          color: $gray-700;
          @include font-face($primaryFont, style('normal'), size(28), weight('bold'), line-height(36, 28));

          @include breakpoint(mobile414) {
            @include font-face($primaryFont, style('normal'), size(32), weight('bold'), line-height(44, 32));
          }

          @include breakpoint(mobile500) {
            @include font-face($primaryFont, style('normal'), size(40), weight('bold'), line-height(54, 40));
          }

          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(48), weight('bold'), line-height(60, 48));
          }

          @include breakpoint(tab992) {
            @include font-face($primaryFont, style('normal'), size(40), weight('bold'), line-height(54, 40));
          }

          @include breakpoint(desktop1200) {
            @include font-face($primaryFont, style('normal'), size(48), weight('bold'), line-height(60, 48));
          }
          
          @include breakpoint(desktop1400) {
            @include font-face($primaryFont, style('normal'), size(60), weight('bold'), line-height(76, 60));
          }
        }

        .text {
          color: $gray-700;
          @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
          letter-spacing: length(0.24);
    
          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
          }
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }

  .thumbnail {
    @include square(size(280));
    @include flex-center;
    position: relative;
    margin: auto;

    @include breakpoint(mobile768) {
      @include square(size(410));
    }

    img {
      @include wh100;
      object-fit: cover;
      position: relative;
      z-index: 2;
    }

    .icon {
      position: absolute;
      bottom: size(-40);
      right: length(-40);
      @include square(size(80));
      @include flex-center;
      overflow: hidden;
      z-index: 1;

      @include breakpoint(mobile768) {
        bottom: size(-47);
        right: length(-47);
        @include square(size(94));
      }

      svg {
        @include wh100;
      }
    }
  }
}

/**=======================================================**
                    SERVICE BANNER END
**=======================================================**/


/**=======================================================**
                    SERVICE INFO START
**=======================================================**/

.serviceinfo {
  padding: size(40) size(0);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  &-details {
    .serviceinfotext {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
      letter-spacing: length(0.24);
      text-align: center;
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }
}

/**=======================================================**
                    SERVICE INFO END
**=======================================================**/


/**=======================================================**
                    SERVICE SECTION START
**=======================================================**/

.servicesec {
  padding: size(40) size(0);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(32);

    @include breakpoint(tab992) {
      gap: size(48);
    }
  
    @include breakpoint(desktop1200) {
      gap: size(64);
    }
  }

  &-header {
    @include flex-center-vert;
  }

  &-body {
    .uithumbnails {
      @include flex-center;
      flex-wrap: wrap;
      gap: size(16);

      .uithumbnail {
        width: calc((100% / 2) - 1rem);
        height: size(150);
        overflow: hidden;

        @include breakpoint(mobile768) {
          width: calc((100% / 3) - 1rem);
          height: size(200);
        }

        img {
          @include wh100;
          object-fit: cover;
        }
      }
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-info {
    @include flex-column;
    gap: size(16);

    .details {
      @include flex-column;
      gap: size(16);

      @include breakpoint(tab992) {
        gap: size(32);
      }

      .text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }

  &.body {
    .servicesec-info {
      @include flex-column;
      gap: size(32);
  
      @include breakpoint(tab992) {
        gap: size(48);
      }
    }
  }

  &-thumbnail {
    @include wh100;
    min-height: size(410);
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  &.servgap {
    margin-bottom: size(48);
    padding: 0;
  
    @include breakpoint(tab992) {
      margin-bottom: size(80);
    }
  }
}

/**=======================================================**
                    SERVICE SECTION END
**=======================================================**/


/**=======================================================**
                    SERVICE-DATA START
**=======================================================**/

.servicedata {
  background: $datavisualbg;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-header {
    @include flex-column;
    gap: size(40);
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }

    .datahead {
      @include flex-center-column;
      gap: size(16);
      text-align: center;

      .datatitle {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile414) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
        }
    
        @include breakpoint(mobile500) {
          @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
        }
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
        }
    
        @include breakpoint(desktop1200) {
          @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
        }
        
        @include breakpoint(desktop1400) {
          @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
        }
      }

      .datatext {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .data-thumbnail {
      @include w100;
      max-height: size(400);
      @include flex-center;
      overflow: hidden;
      
      img {
        @include wh100;
        object-fit: cover;
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);
    
    @include breakpoint(tab992) {
      gap: size(80);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(112);
    }
    
    .accessibility {
      @include flex-column;
      gap: size(24);

      &-header {
        @include flex-center-vert;
        gap: size(16);

        .icon {
          @include square(length(52));
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
            object-fit: cover;
          }
        }

        .text {
          color: $white;
          @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
      
          @include breakpoint(mobile414) {
            @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(36, 28));
          }
        }
      }

      &-body {
        .accessiblitytext {
          color: $white;
          @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
      
          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
          }
      
          @include breakpoint(tab992) {
            @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
          }
        }
      }
    }

    .viewall {
      @include flex-center;

      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }

    .interview {
      @include flex-column;
      gap: size(24);

      &-header {
        .interviewtitle {
          color: $white;
          @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
      
          @include breakpoint(mobile414) {
            @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(36, 28));
          }
        }
      }

      &-body {
        .textinterview {
          color: $white;
          @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
      
          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
          }
      
          @include breakpoint(tab992) {
            @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
          }
        }
      }
    }

    .thumbnail {
      @include w100;
      // max-height: size(410);
      @include flex-center;
      overflow: hidden;
      height: size(300);
  
      @include breakpoint(mobile768) {
        height: size(410);
      }
  
      @include breakpoint(tab992) {
        height: size(510);
      }

      img {
        @include wh100;
        object-fit: cover;
      }
    }
  }
}

/**=======================================================**
                    SERVICE-DATA END
**=======================================================**/


/**=======================================================**
                    SERVICE BANNER START
**=======================================================**/

.serviceinfo {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(24);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-header {
    .serviceinfotitle {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile414) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
      }
  
      @include breakpoint(mobile500) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(desktop1200) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
      
      @include breakpoint(desktop1400) {
        @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(24);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }

    .info {
      .text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }
}

/**=======================================================**
                    SERVICE BANNER END
**=======================================================**/


/**=======================================================**
                    SERVICE ANALYSIS START
**=======================================================**/

.serviceanalysis {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  .leftcontent,
  .rightcontent {
    @include flex-column;
    gap: size(48);

    .cardanalysis {
      @include flex-column;
      gap: size(16);
    
      @include breakpoint(tab992) {
        gap: size(24);
      }

      .analysistitle {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }

      .analysistext {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }
  }

  .leftcontent {
    @include breakpoint(tab992) {
      text-align: right;
    }
  }

  .analysis-thumbnail {
    @include wh100;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .viewall {
    @include flex-center;

    .link {
      @include setBgColor($primary, $white);
      @include radius(8);
      @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
      letter-spacing: length(0.24);
      width: size(200);
      height: size(58);
      @include flex-center;
      text-align: center;
      @include transitionsbackground;
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
      }

      @include hover {
        @include setBgColor(darken($primary, 25%), $white);
      }
    }
  }
}

/**=======================================================**
                    SERVICE ANALYSIS END
**=======================================================**/


/**=======================================================**
                    SERVICE REDESIGN START
**=======================================================**/

.serviceredesign {
  background: $white;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-header {
    .serviceredesigntitle {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile414) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
      }
  
      @include breakpoint(mobile500) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(desktop1200) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
      
      @include breakpoint(desktop1400) {
        @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
      }
    }

    .serviceredesigninfo {
      .infotext {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
        letter-spacing: length(0.24);
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }
  }

  &-body {
    .cardredesign {
      @include flex-column;
      gap: size(24);

      &-header {
        @include flex-center-vert;
        gap: size(16);

        .icon {
          @include square(size(54));
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
          }
        }

        .titlebox {
          .designtitle {
            color: $gray-700;
            @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
        
            @include breakpoint(mobile768) {
              @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
            }
        
            @include breakpoint(tab992) {
              @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
            }
          }
        }
      }

      &-body {
        .designtext {
          color: $gray-700;
          @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
      
          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
          }
      
          @include breakpoint(tab992) {
            @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
          }
        }
      }
    }
  }

  .viewall {
    @include flex-center;

    .link {
      @include setBgColor($primary, $white);
      @include radius(8);
      @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
      letter-spacing: length(0.24);
      width: size(200);
      height: size(58);
      @include flex-center;
      text-align: center;
      @include transitionsbackground;
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
      }

      @include hover {
        @include setBgColor(darken($primary, 25%), $white);
      }
    }
  }
}

/**=======================================================**
                    SERVICE REDESIGN END
**=======================================================**/


/**=======================================================**
                    SERVICE POLICY START
**=======================================================**/

.servicepolicy {
  background: $datavisualbg;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  .policy {
    @include flex-column;
    gap: size(24);
  
    @include breakpoint(tab992) {
      gap: size(48);
    }

    &-title {
      color: $white;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile414) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
      }
  
      @include breakpoint(mobile500) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(desktop1200) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
      
      @include breakpoint(desktop1400) {
        @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
      }
    }
    
    &-text {
      color: $white;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }

  .policy-thumbnail {
    @include wh100;
    overflow: hidden;

    img {
      @include w100;
      object-fit: cover;
    }
  }

  .policy-thumb {
    @include w100;
    max-height: size(540);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .policy-details {
    @include flex-column;
    gap: size(48);

    .policyinfo {
      @include flex-column;
      gap: size(16);

      &-title {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }

      &-text {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }
  }
}

/**=======================================================**
                    SERVICE POLICY END
**=======================================================**/


/**=======================================================**
                SERVICE POLOCY-DETAILS START
**=======================================================**/

.servicepolicydetails {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-text {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
    }
  }
}

/**=======================================================**
                SERVICE POLOCY-DETAILS END
**=======================================================**/


/**=======================================================**
                    DESIGN-SERVICE START
**=======================================================**/

.designservice {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(32);

    @include breakpoint(tab992) {
      gap: size(48);
    }
  
    @include breakpoint(desktop1200) {
      gap: size(64);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-thumbnail {
    @include w100;
    height: size(300);

    @include breakpoint(mobile768) {
      height: size(410);
    }

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  &-details {
    @include flex-column;
    gap: size(24);

    @include breakpoint(desktop1400) {
      gap: size(44);
    }

    .detail {
      @include flex-column;
      gap: size(16);

      @include breakpoint(desktop1400) {
        gap: size(24);
      }

      &-title {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }

      &-text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }
}

/**=======================================================**
                    DESIGN-SERVICE END
**=======================================================**/



/**=======================================================**
                    SERVICE-FAQ START
**=======================================================**/

.servicefaq {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(32);

    @include breakpoint(tab992) {
      gap: size(48);
    }
  
    @include breakpoint(desktop1200) {
      gap: size(64);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-body {

  }
}

/**=======================================================**
                    SERVICE-FAQ END
**=======================================================**/
