/**=======================================================**
                    CUSTOM-SOFTWARE START
**=======================================================**/

.customsoftware {
  background: $datavisualbg;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $white;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    text-align: center;

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }

    &.textservice {
      color: $gray-700;
    }
  }

  .cardcustom {
    @include flex-center-column;
    gap: size(24);

    &-header {
      @include flex-center;

      .icon {
        @include square(size(54));
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
        }
      }
    }

    &-body {
      @include flex-center-column;
      gap: size(12);
      text-align: center;

      .customtitle {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(18), weight('semibold'), line-height(30, 18));
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(36, 20));
        }

        &.textservice {
          color: $gray-700;
        }
      }
      
      .customtext {
        color: $white;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }

    &.textservice {
      color: $gray-700;
    }
      }
    }
  }
}

/**=======================================================**
                    CUSTOM-SOFTWARE END
**=======================================================**/


/**=======================================================**
                    SERVICE-ADVANTAGE START
**=======================================================**/

.serviceadvantage {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  &-details {
    @include flex-column;
    gap: size(24);

    .detail {
      @include flex-column;
      gap: size(16);

      &-title {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }

      &-text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }
  }
}

/**=======================================================**
                    SERVICE-ADVANTAGE END
**=======================================================**/


/**=======================================================**
                    SERVICE-CONSIDER START
**=======================================================**/

.serviceconsider {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .cardconsider {
    @include flex-column;
    gap: size(20);
    
    @include breakpoint(tab992) {
      gap: size(32);
    }

    .cardtitle {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
      }
    }

    .cardtext {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }

  .link {
    @include setBgColor($primary, $white);
    @include radius(8);
    @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
    letter-spacing: length(0.24);
    width: size(200);
    height: size(58);
    @include flex-center;
    text-align: center;
    @include transitionsbackground;

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
    }

    @include hover {
      @include setBgColor(darken($primary, 25%), $white);
    }
  }

  .maintenance-support {
    @include flex-center-column;
    gap: length(32);
    text-align: center;

    &-title {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
      }
    }

    &-text {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
      letter-spacing: length(0.24);
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }
}

/**=======================================================**
                    SERVICE-CONSIDER END
**=======================================================**/


/**=======================================================**
                    SECTION START
**=======================================================**/

.servicedeveloped {
  background: $datavisualbg;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $white;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    text-align: center;

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  .developdetail {
    @include flex-center-column;
    gap: size(32);

    @include breakpoint(tab992) {
      gap: size(48);
    }
  }

  .list-group {
    background: transparent;
    @include radius(0);
    @include w100;
    align-items: center;
    gap: size(32);

    @include breakpoint(tab992) {
      gap: size(48);
    }

    &-item {
      background: transparent;
      margin: 0;
      border: none;
      height: size(64);
      @include flex-center;
      @include radius(13);
      @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(32, 20));
      opacity: 0.3;
      padding: size(10);
      text-align: center;
      @include transitionsall;
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
        height: size(98);
      }

      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
      }

      &.analysis {
        @include setBgColor($analysisbg, $datavisualbg);
        @include w100;
    
        @include breakpoint(desktop1400) {
          width: size(456);
        }
      }
  
      &.development {
        @include setBgColor($developbg, $datavisualbg);
        @include w100;
    
        @include breakpoint(desktop1400) {
          width: size(264);
        }
      }
  
      &.testing {
        @include setBgColor($testingbg, $datavisualbg);
        @include w100;
    
        @include breakpoint(desktop1400) {
          width: size(330);
        }
      }
  
      &.maintenance {
        @include setBgColor($maintenancebg, $datavisualbg);
        @include w100;
    
        @include breakpoint(desktop1400) {
          width: size(430);
        }
      }

      &.active {
        &.analysis,
        &.development,
        &.testing,
        &.maintenance {
          opacity: 1;
        }
      }

      &:hover:not(.active) {
        opacity: 1;
      }
    }
  }

  .scrollspy-contents {
    position: relative;
    margin: 0;
    padding: 0;

    @include breakpoint(tab992) {
      overflow: auto;
      max-height: size(540);
    }

		&::-webkit-scrollbar {
      display: none;
		}

    @include breakpoint(tab992) {
      gap: size(48);
    }
  }

  .descriptions {
    @include flex-column;
    gap: size(20);
    height: 100%;
    margin-bottom: size(32);
    
    @include breakpoint(tab992) {
      gap: size(32);
      margin-bottom: size(48);
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .title {
      color: $white;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
      }
    }

    .text {
      color: $white;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }

  .developedinfo {
    @include flex-center-column;
    gap: size(32);
    text-align: center;

    .developtedtext {
      color: $white;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }

    .viewall {
      @include flex-center;

      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }

  &.bg-white {
    .servicedeveloped-title {
      color: $gray-700;
    }

    .card-testimonial {
      .text-testimonial {
        color: $gray-600;
      }
    }
  }
}

/**=======================================================**
                    SECTION END
**=======================================================**/


/**=======================================================**
                    SECTION START
**=======================================================**/

.servicexpect {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-details {
    @include flex-column;
    gap: size(40);

    .detail {
      .detailtext {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }

  &-info {
    @include flex-column;
    gap: size(24);

    .textinfo {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }
}

/**=======================================================**
                    SECTION END
**=======================================================**/


/**=======================================================**
                    SERVICE-BUSINESS START
**=======================================================**/

.servicebusiness {
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-title {
    color: $gray-700;
    @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));

    @include breakpoint(mobile414) {
      @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
    }

    @include breakpoint(mobile500) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(mobile768) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }

    @include breakpoint(tab992) {
      @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
    }

    @include breakpoint(desktop1200) {
      @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
    }
    
    @include breakpoint(desktop1400) {
      @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
    }
  }

  &-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;
    
    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .business {
    @include flex-column;
    gap: size(48);

    .cardbusiness {
      @include flex-column;
      gap: size(20);

      @include breakpoint(mobile768) {
        gap: size(32);
      }

      &-title {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }

      &-text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    &-info {
      .businesstext {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }
  }
}

/**=======================================================**
                    SERVICE-BUSINESS END
**=======================================================**/


/**=======================================================**
                    RECENT-WORK START
**=======================================================**/

.recentwork {
  background: $white;
  padding: size(40) size(8);
  
  @include breakpoint(mobile768) {
    padding: size(64) size(0);
  }
  
  @include breakpoint(tab992) {
    padding: size(80) size(0);
  }

  @include breakpoint(desktop1400) {
    padding: size(100) size(0);
  }

  &-content {
    @include flex-column;
    gap: size(40);
  
    @include breakpoint(mobile768) {
      gap: size(48);
    }
    
    @include breakpoint(tab992) {
      gap: size(64);
    }
  
    @include breakpoint(desktop1400) {
      gap: size(80);
    }
  }

  &-info {
    @include flex-column;
    gap: size(32);

    .recentwork-title {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
  
      @include breakpoint(mobile414) {
        @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(44, 32));
      }
  
      @include breakpoint(mobile500) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(40), weight('semibold'), line-height(54, 40));
      }
  
      @include breakpoint(desktop1200) {
        @include font-face($primaryFont, style('normal'), size(48), weight('semibold'), line-height(60, 48));
      }
      
      @include breakpoint(desktop1400) {
        @include font-face($primaryFont, style('normal'), size(60), weight('semibold'), line-height(76, 60));
      }
    }
    
    .recentwork-text {
      color: $gray-700;
      @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
  
      @include breakpoint(mobile768) {
        @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
      }
  
      @include breakpoint(tab992) {
        @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
      }
    }
  }

  &-thumbnail {
    @include wh100;
    @include flex-center;
    overflow: hidden;
    
    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .recentproject {
    @include flex-column;
    gap: size(48);
  
    @include breakpoint(mobile768) {
      gap: size(64);
    }
    
    @include breakpoint(tab992) {
      gap: size(80);
    }

    &-header {
      @include flex-column;
      gap: size(14);

      .recentsubtitle {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }

      .recent-title {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(24), weight('semibold'), line-height(32, 24));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(32), weight('semibold'), line-height(40, 32));
        }
      }
    }

    &-body {
      .text {
        color: $gray-700;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
    
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));
        }
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(20), weight('normal'), line-height(36, 20));
        }
      }
    }

    .viewall {
      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include font-face($primaryFont, style('normal'), size(14), weight('bold'), line-height(20, 14));
        letter-spacing: length(0.24);
        width: size(200);
        height: size(58);
        @include flex-center;
        text-align: center;
        @include transitionsbackground;
    
        @include breakpoint(tab992) {
          @include font-face($primaryFont, style('normal'), size(16), weight('bold'), line-height(24, 16));
        }

        @include hover {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }
  }
}

/**=======================================================**
                    RECENT-WORK END
**=======================================================**/