.staffrequirements {
  padding-bottom: size(80);

  &-content {
    @include flex-column;
  }

  &-header {
    background: $staffbg;
    min-height: size(300);

    @include breakpoint(tab992) {
      min-height: size(500);
    }

    .titlebox {
      max-width: size(700);
      margin-inline: auto;
      @include flex-center;
      text-align: center;
      padding: size(64) size(0);

      @include breakpoint(mobile768) {
        padding: size(80) size(0);
      }

      @include breakpoint(tab992) {
        padding: size(100) size(0);
      }

      .title {
        color: $white;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(24),
          weight("semibold"),
          line-height(33.6, 24)
        );

        @include breakpoint(mobile768) {
          font-size: size(32);
        }

        @include breakpoint(tab992) {
          font-size: size(40);
        }
      }
    }
  }

  &-body {
    padding-bottom: size(100);
    margin-top: size(-100);

    @include breakpoint(tab992) {
      margin-top: size(-200);
    }

    .cardrequirement {
      background: $white;
      @include border(solid, 1, $cardborder);
      @include flex-center-column;
      gap: size(32);
      padding: size(32) size(16) size(48);
      text-align: center;
      @include h100;

      &-header {
        @include flex-center-column;
        gap: size(32);

        .thumbnail {
          @include square(size(165));
          @include flex-center;
          overflow: hidden;

          img {
            @include wh100;
            object-fit: cover;
          }
        }

        .requiretitle {
          color: $gray-700;
          font-size: size(20);
          font-weight: 600;
          @include line-clamp;

          @include breakpoint(tab992) {
            font-size: size(24);
          }
        }
      }

      &-body {
        .text {
          color: $gray-700;
          font-size: size(13);
          @include line-clamp-4;

          @include breakpoint(tab992) {
            font-size: size(15);
          }
        }
      }
    }
  }
}

.staffcontent {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  .thumb {
    @include w100;
    height: size(250);
    position: relative;
    @include flex-center;

    @include breakpoint(mobile768) {
      height: size(350);
    }

    @include breakpoint(tab992) {
      height: size(500);
    }

    img {
      @include wh100;
      object-fit: cover;
      position: relative;
      z-index: 100;
    }

    .thumbshade {
      position: absolute;
      @include wh100;
      background: $staffbg;
      bottom: size(-40);
      right: size(-40);
      z-index: 1;
    }
  }

  .descriptions {
    @include flex-column;
    gap: size(40);

    .title {
      color: $gray-700;
      @include font-face(
        $primaryFont,
        style("normal"),
        size(24),
        weight("semibold"),
        line-height(32, 24)
      );
      @include line-clamp;
  
      @include breakpoint(mobile768) {
        font-size: size(28);
      }
  
      @include breakpoint(tab992) {
        font-size: size(40);
      }
    }

    .infos {
      @include flex-column;
      gap: size(24);
      max-width: size(480);

      .text {
        color: $gray-700;
        font-size: size(13);
        @include line-clamp-4;

        @include breakpoint(tab992) {
          font-size: size(15);
        }
      }

      .link {
        @include flex-center-vert;
        gap: size(4);

        .text {
          color: $primary;
          font-size: size(16);
          font-weight: 600;
        }

        .icon {
          @include square(size(36));
          @include flex-center;
          overflow: hidden;
        }
      }
    }
  }
}

.hireme {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-detail {
    @include border(dashed, 2, $blue);
    @include flex-column;
    gap: size(32);
    padding: size(32);

    @include breakpoint(mobile768) {
      flex-direction: row;
      align-items: center;
    }

    @include breakpoint(tab992) {
      padding: size(48);
    }

    .leftcontent {
      @include w100;

      @include breakpoint(mobile768) {
        width: calc(100% - size(182));
      }

      .title {
        color: $gray-700;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(20),
          weight("semibold"),
          line-height(28, 20)
        );
        // @include line-clamp;

        @include breakpoint(mobile576) {
          font-size: size(24);
        }

        @include breakpoint(tab992) {
          font-size: size(32);
        }
      }
    }

    .rightcontent {
      .link {
        @include setBgColor($white, $primary);
        @include border(solid, 2, $primary);
        @include radius(8);
        @include flex-center;
        font-size: size(15);
        font-weight: 700;
        @include w100;
        height: size(60);
        text-align: center;
        @include transitionsall;

        @include breakpoint(mobile576) {
          width: size(150);
        }

        @include hover {
          @include setBgColor($primary, $white);
        }
      }
    }
  }
}

.whychoose {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-content {
    @include flex-column;
    gap: size(80);
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    .icon {
      width: size(97);
      height: siez(3);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .titlebox {
      max-width: size(560);

      .title {
        color: $gray-700;
        @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));

        @include breakpoint(mobile768) {
          font-size: size(32);
        }

        @include breakpoint(tab992) {
          font-size: size(40);
        }

        span {
          color: $purple;
          font: inherit;
        }
      }
    }
  }

  &-body {
    .card-whychoose {
      background: $white;

      &-header {
        position: relative;
        height: size(200);
        @include flex-center-vert;

        .cardcount {
          color: rgba(74, 85, 104, 0.05);
          font-size: size(200);
          font-weight: 700;
          position: absolute;
          left: size(0);

          @include breakpoint(tab992) {
            font-size: size(240);
          }

          &::selection {
            @include setBgColor(transparent, rgba(74, 85, 104, 0.05));
          }
        }

        .title {
          color: $gray-700;
          font-size: size(20);
          font-weight: 600;
          @include line-clamp;
          margin: size(64) size(0) size(0) size(10);

          @include breakpoint(tab992) {
            font-size: size(24);
          }
        }
      }

      &-body {
        .text {
          color: $gray-700;
          font-size: size(13);
          @include line-clamp-4;

          @include breakpoint(tab992) {
            font-size: size(15);
          }
        }
      }
    }
  }
}

.workview {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-content {
    @include flex-column;
    gap: size(80);
  }

  &-header {
    @include flex-column;
    gap: size(24);

    .icon {
      width: size(97);
      height: siez(3);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .title {
      color: $gray-700;
      @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));

      @include breakpoint(mobile768) {
        font-size: size(32);
      }

      @include breakpoint(tab992) {
        font-size: size(40);
      }

      span {
        color: $purple;
        font: inherit;
      }
    }

    .info {
      .text {
        color: $gray-700;
        font-size: size(13);
        @include line-clamp-4;

        @include breakpoint(tab992) {
          font-size: size(15);
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(80);

    .workthumb {
      @include w100;
      @include flex-center;
      overflow: hidden;
      max-height: size(220);

      @include breakpoint(mobile768) {
        max-height: size(320);
      }

      @include breakpoint(tab992) {
        max-height: size(420);
      }

      img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;

        @include hover {
          @include transform(scale(1.05));
        }
      }
    }

    .link {
      @include flex-center-vert;
      gap: size(4);

      .icon {
        @include square(size(36));
        @include flex-center;
        overflow: hidden;
      }

      .text {
        color: $primary;
        font-size: size(16);
        font-weight: 600;
      }
    }
  }
}

.collaborate {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-content {
    @include flex-column;
    gap: size(80);
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    .icon {
      width: size(97);
      height: siez(3);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .titlebox {
      max-width: size(750);
    }

    .title {
      color: $gray-700;
      @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));

      @include breakpoint(mobile768) {
        font-size: size(32);
      }

      @include breakpoint(tab992) {
        font-size: size(40);
      }

      span {
        color: $purple;
        font: inherit;
      }
    }

    .info {
      .text {
        color: $gray-700;
        font-size: size(13);
        @include line-clamp-4;

        @include breakpoint(tab992) {
          font-size: size(15);
        }
      }
    }
  }

  &-body {
    .card-collaborate {
      @include flex-center-column;
      gap: size(40);
      text-align: center;

      &-icon {
        width: size(200);
        height: size(160);
        @include flex-center;
        overflow: hidden;

        img {
          @include wh100;
          object-fit: cover;
        }
      }

      .title {
        color: $gray-700;
        font-size: size(20);
        font-weight: 600;
        @include line-clamp;

        @include breakpoint(tab992) {
          font-size: size(24);
        }
      }
    }
  }
}

.usetools {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-content {
    @include flex-column;
    gap: size(80);
  }

  &-header {
    @include flex-center-column;
    gap: size(24);
    text-align: center;

    .icon {
      width: size(97);
      height: siez(3);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .titlebox {
      max-width: size(400);
    }

    .title {
      color: $gray-700;
      @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));

      @include breakpoint(mobile768) {
        font-size: size(32);
      }

      @include breakpoint(tab992) {
        font-size: size(40);
      }

      span {
        color: $purple;
        font: inherit;
      }
    }

    .info {
      .text {
        color: $gray-700;
        font-size: size(13);
        @include line-clamp-4;

        @include breakpoint(tab992) {
          font-size: size(15);
        }
      }
    }
  }

  &-body {
    @include flex-center;
    gap: size(24);
    flex-wrap: wrap;
    max-width: size(650);
    margin-inline: auto;

    .tool {
      width: calc((100% / 3) - size(24));
      height: size(88);
      @include flex-center;
      overflow: hidden;

      @include breakpoint(mobile768) {
        width: calc((100% / 6) - size(24));
      }

      img {
        @include wh100;
        object-fit: contain;
      }
    }
  }
}

.thinksec {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  &-content {
    @include flex-column;
    gap: size(80);
  }

  &-header {
    @include flex-column;
    gap: size(24);

    .icon {
      width: size(97);
      height: siez(3);
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
      }
    }

    .title {
      color: $gray-700;
      @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));

      @include breakpoint(mobile768) {
        font-size: size(32);
      }

      @include breakpoint(tab992) {
        font-size: size(40);
      }

      span {
        color: $purple;
        font: inherit;
      }
    }

    .info {
      .text {
        color: $gray-700;
        font-size: size(13);
        @include line-clamp-4;

        @include breakpoint(tab992) {
          font-size: size(15);
        }
      }
    }
  }

  &-body {
    .thinkform {
      @include flex-column;
      gap: size(48);

      .inputfield {
        @include border(solid, 1, $gray-300);
        @include radius(8);
        color: $gray-800;
        font-size: size(15);
        font-weight: 500;
        padding: size(11.5) size(16);
        @include w100;
        @include transitionsall;

        &::placeholder {
          color: $textPlaceholder;
        }

        &:focus {
          border-color: $primary;
          outline: none;
        }
      }

      .servicebox {
        @include flex-column;
        gap: size(20);

        .title {
          color: $gray-700;
          font-size: size(20);
          font-weight: 600;
          @include line-clamp;
  
          @include breakpoint(tab992) {
            font-size: size(24);
          }
        }

        .services {
          @include flex-center-vert;
          gap: size(8);
          flex-wrap: wrap;

          .myservice {
            label {
              @include border(solid, 1, $gray-300);
              @include radius(8);
              color: $textPlaceholder;
              font-size: size(15);
              font-weight: 500;
              padding: size(11.5) size(16);
              cursor: pointer;
              @include transitionsall;
            }

            input[type="radio"] {
              &:checked ~ label {
                border-color: $primary;
                color: $primary;
              }
            }
          }
        }
      }

      .btn-mysubmit {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include flex-center;
        font-size: size(15);
        font-weight: 700;
        width: size(150);
        height: size(48);
        text-align: center;
        @include transitionsall;

        @include hover {
          @include setBgColor($blue, $white);
        }
      }
    }

    .mailthumb {
      @include w100;
      height: size(330);
      @include flex-center;
      overflow: hidden;

      img {
        @include wh100;
        object-fit: cover;
      }
    }
  }
}

.secbusiness {
  padding-bottom: size(80);

  @include breakpoint(tab992) {
    padding-bottom: size(140);
  }

  .secbusinessinfo {
    @include flex-column;
    gap: size(40);

    &-head {
      @include flex-column;
      gap: size(20);

      .title {
        color: $gray-700;
        @include font-face($primaryFont, style("normal"), size(24), weight("semibold"), line-height(33.6, 24));
  
        @include breakpoint(mobile768) {
          font-size: size(32);
        }
  
        @include breakpoint(tab992) {
          font-size: size(40);
        }
      }

      .info {
        max-width: size(600);

        .text {
          color: $gray-700;
          font-size: size(13);
          @include line-clamp-4;
  
          @include breakpoint(tab992) {
            font-size: size(15);
          }
        }
      }
    }

    &-body {
      @include flex-center-vert;
      gap: size(16);
      flex-wrap: wrap;

      .link {
        @include setBgColor($primary, $white);
        @include radius(8);
        @include flex-center;
        font-size: size(15);
        font-weight: 700;
        width: size(150);
        height: size(48);
        text-align: center;
        @include transitionsall;

        @include hover {
          @include setBgColor($blue, $white);
        }
      }

      p {
        color: $linktext;
        font-size: size(13);

        @include breakpoint(tab992) {
          font-size: size(15);
        }

        a {
          color: inherit;
          font: inherit;
          @include transitionsall;

          @include hover {
            color: $blue;
          }
        }
      }
    }
  }

  .businessthumb {
    @include w100;
    height: size(330);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: cover;
    }
  }
}