.btn-subscibe {
    @include setBgColor($primary, $white);
    padding: length(12) length(20);
    text-align: center;
    @include transitionsbackground;

    @include hover {
        background: $footerbg;
    }
}