/**=======================================================**
                        HEADER SECTION START
**=======================================================**/

.header {
  padding: length(0) length(8);
  background: $white;
  box-shadow: $box-shadow-2;
  filter: $drop-shadow-1;
  @include flex-center-vert;
  position: fixed;
  @include w100;
  top: size(-2);
  left: 0;
  height: length(68);
  transition: ease $time;
  z-index: 9999;

  @include breakpoint(mobile576) {
    height: length(80);
  }

  @include breakpoint(tab992) {
    height: length(100);
    top: 0;
  }

  &-nav {
    @include flex-center-between;

    .logo {
      @include square(length(48));
      @include flex-center;
      overflow: hidden;

      @include breakpoint(mobile576) {
        @include square(length(60));
      }

      @include breakpoint(tab992) {
        @include square(length(80));
      }

      img {
        @include wh100;
        object-fit: contain;
      }
    }

    .desktopmenu {
      margin-left: auto;
      display: none;

      @include breakpoint(tab992) {
        display: block;
      }
    }

    .desktoplist {
      position: relative;
      @include list-horizontal;
      gap: size(4);

      &-link {
        color: $desktopLinkColor;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("semibold"),
          line-height(21.29, 14)
        );
        letter-spacing: length(1.6);
        padding: length(0) length(16);
        text-transform: uppercase;

        &:hover:not(.active) {
          color: $primary;
        }

        &.active {
          color: $primary;
        }
      }

      &-item {
        position: relative;
        @include flex-center;
        height: length(68);
        cursor: pointer;

        @include breakpoint(mobile576) {
          height: length(80);
        }

        @include breakpoint(tab992) {
          height: length(100);
        }

        @include hover {
          .desktopdropdown {
            display: block;
          }
        }
      }

      .desktopdropdown {
        position: absolute;
        left: -50%;
        top: 100%;
        min-width: 280%;
        background: $white;
        @include border-single(top, solid, 1, $headerborder);
        box-shadow: $box-shadow-2;
        z-index: 100;
        padding: size(4) size(0) size(12);
        display: none;
        @extend %animation;
        @extend %slideUpIn;

        @include breakpoint(desktop1400) {
          min-width: 240%;
        }

        .dropdownlist {
          @include list-vertical;

          &-link {
            display: inline-block;
            color: $desktopLinkColor;
            @include font-face(
              $primaryFont,
              style("normal"),
              size(13),
              weight("semibold"),
              line-height(20, 13)
            );
            letter-spacing: length(1.6);
            padding: size(8) size(12);
            text-transform: uppercase;

            &:hover:not(.active) {
              color: $primary;
            }

            &.active {
              color: $primary;
            }
          }
        }
      }
    }

    .hamburgermenu {
      display: block;

      @include breakpoint(tab992) {
        display: none;
      }

      .btn-hamburger {
        @include square(length(24));
        @include transparent-button;
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }

        @include hover {
          svg {
            .fill {
              fill: $primary;
            }
          }
        }
      }
    }

    .mobilelist {
      @include list-vertical;
      margin-top: size(32);
      // height: 60%;

      &-link {
        color: $headerLinkColor;
        @include font-face(
          $primaryFont,
          style("normal"),
          size(14),
          weight("semibold"),
          line-height(21.29, 14)
        );
        letter-spacing: length(1.6);
        text-transform: uppercase;
        display: inline-block;
        @include w100;
        padding: size(12) size(0);

        &:hover:not(.active) {
          color: $secondary;
        }

        &.active {
          color: $secondary;
        }
      }

      .accordion {
        &-item {
          background: transparent;

          &:first-of-type {
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            .accordion-button {
              border-top-left-radius: 0;
              border-top-right-radius: 0;
            }
          }

          &:last-of-type {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }
        }

        &-header {
          @include flex-center-vert;

          .link {
            width: 50%;
            height: size(44);
            color: $headerLinkColor;
            @include font-face(
              $primaryFont,
              style("normal"),
              size(14),
              weight("semibold"),
              line-height(21.29, 14)
            );
            letter-spacing: length(1.6);
            text-transform: uppercase;
            padding: size(12) size(0);
          }
        }

        &-button {
          background: transparent;
          padding: 0;
          padding: size(12) size(0);
          width: 50%;
          height: size(44);

          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239d9d9d'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
          }
        }

        &-body {
          @include flex-column;
          gap: size(12);
          background: transparent;
          padding: 0;
          padding: size(12);

          .servicelink {
            color: $headerLinkColor;
            @include font-face(
              $primaryFont,
              style("normal"),
              size(13),
              weight("semibold"),
              line-height(20, 13)
            );
            letter-spacing: length(1.6);
            @include transitionscolor;

            &:hover:not(.active) {
              color: $secondary;
            }

            &.active {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/

/**=======================================================**
                        GAP SECTION START
**=======================================================**/

.gap {
  height: length(68);

  @include breakpoint(mobile576) {
    height: length(80);
  }

  @include breakpoint(tab992) {
    height: length(100);
  }
}

/**=======================================================**
                        GAP SECTION END
**=======================================================**/
