.preloader {
    @include flex-center;
    position: fixed;
    @include w100;
    min-height: 100vh;
    overflow: hidden;
    z-index: 10000;
    background: $white;

    .spinner {
        display: inline-block;
        @include flex-center;
        @include square(length(80));
        @include circle;
        -webkit-animation: linear pulse 1s infinite;
        animation: linear pulse 1s infinite;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0, 0);
    }
    50% {
        -webkit-transform: scale(1, 1);
    }
    100% {
        -webkit-transform: scale(0, 0);
    }
}

@keyframes pulse {
    0% {
        @include transform(scale(0, 0));
    }
    50% {
        @include transform(scale(1, 1));
    }
    100% {
        @include transform(scale(0, 0));
    }
}