.swiper {
  max-height: length(540);
  position: relative;
      
  @include breakpoint(mobile768) {
    max-height: length(750);
  }

  @include breakpoint(tab992) {
    max-height: length(520);
  }

  &-pagination {
    font-size: 0;

    &::before {
      content: '0';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      font-size: length(28);
      
      @include breakpoint(mobile768) {
        font-size: length(32);
      }

      @include breakpoint(tab992) {
        font-size: length(40);
      }
    }

    &-current {
      font-size: length(40);
    }

    &-fraction {
      z-index: 100;

      @include breakpoint(tab992) {
        left: auto;
        right: length(80);
        bottom: length(100);
        width: 5%;
        text-align: center;
      }
    }
  }

  &-buttons {
    position: absolute;
    @include w100;
    height: length(64);
    display: none;
    z-index: 100;

    @include breakpoint(tab992) {
      @include flex-column;
      align-items: flex-end;
      gap: length(0);
      bottom: length(100);
      right: length(48);
    }
  }

  &-button-next,
  &-button-prev {
    @include transparent-button;
    @include square(length(28));
    @include flex-center;
    overflow: hidden;
    position: static;
    top: auto;
    margin-top: 0;

    .icon {
      @include square(length(28));
      @include flex-center;
      overflow: hidden;

      svg {
        @include wh100;
        path {
          fill: $gray-700;
        }
      }
    }

    &::after {
      width: 0;
      height: 0;
      content: '';
      display: none;
    }

    @include hover {
      .icon {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }
  }

  &-button-next {
    
  }

  &-button-prev {
    
  }
}